.thumbnails .thumbnail {
    display: inline-block;
    border: 1px solid black;
    padding: center;
    font-size: 10px;
}

.thumbnails img.large-thumbnail
{
    width: 200px;
}

.thumbnails img.small-thumbnail
{
    width: 100px;
}